@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* img{
  100%;
} */

body {
  height: 100vh;
  font-family: sans-serif;
}
header {
  background-color: rgba(95, 158, 160, 0.014);
  position: sticky;
  grid-template-columns: 1fr 3fr 1.5fr;
  width: calc(100vw- 200px);
  margin: 1rem 1rem;
  display: grid;
  gap: 8px;
  top: 0;
  left: 0;
}

.side-bar {
  display: grid;
  grid-template-columns: 40px 100px;
  background-color: rgba(222, 184, 135, 0);
  align-items: center;
  /* overflow: auto; */
  gap: 20px;
}

.top-bar {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  align-items: center;

  /* outline: 1px solid rgba(0, 0, 0, 0.151); */
}

input[type="search"] {
  width: 400px;
  border: 1px solid grey;
  padding: 10px 10px;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: inset 0 0 3px grey;
}
.top-bar__search {
  padding: 9px;
  border-radius: 3px;
  border: none;
  background-color: #f8f8f8;
}
.top-settings {
  display: grid;
  grid-template-columns: 40px 40px 40px 50px;
  gap: 15px;
  padding-left: 20rem;
  justify-content: end;
  margin-right: 1rem;
}
.menu {
  display: grid;
  grid-template-columns: 50px;
  place-items: start;
  position: sticky;
  gap: 20px;

  /* top: 4rem;
  left: 0;
  align-self: start; */
}
.menu ul {
  list-style: none;
}
.menu li {
  display: grid;
  grid-template-columns: 60px;
  padding: 15px;
  text-align: center;
}
.menu li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.788);
  font-size: 15px;
  border-bottom: 1px solid grey;
}
.topics {
  display: grid;
  grid-template-columns: 60px;
  place-items: start;
  position: absolute;

  align-items: center;

  border-top: 1px solid grey;

  top: 30rem;
  left: 3px;
}
.topics li {
  display: grid;
  margin-left: 0;
  padding: 5px;
}
.topics button {
  padding: 6px 3px;
  border: none;
  border-radius: 10px;
}
main {
  display: grid;
  grid-template-columns: 100px 1fr;
}
section.content {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  background-color: #f9f9f9;
  overflow: auto;
  height: 100%;
  align-content: start;
  justify-content: center;
  padding: 1rem;
  padding-top: 100px;
}
.video-001 {
  display: grid;
  grid-template-rows: 150px auto;
  text-decoration: unset;
  color: unset;
}
.video__thumbnail {
  outline: solid 1px black;
  height: 250px;
  /* width: 40%; */
}

.video__thumbnail {
  background-image: url("https://i.ytimg.com/vi/iPGgnzc34tY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCGTuB6pMN3DSBHS49icSRngSVVjg");
  background-size: cover;
  background-position: center;
}
.video__info {
  display: grid;
  grid-template-columns: 60px 1fr;
  /* gap: 10px; */
}
.video__avatar {
  padding: 0.5rem;
}
.video__avatar img {
  border-radius: 50%;
  width: 100%;
}
.video__more-info {
  padding: 1rem;
}
.video__more-info .title {
  font-size: 1rem;
  font-weight: 500;
}
.video__more-info .youtube-account {
  font-size: 0.8rem;
  font-weight: 500;
  color: #606060;
}
.video__more-info .views {
  font-size: 0.7rem;
  font-weight: 500;
}
